@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color1:#D8F3DC;
    --color2:#74C69D;
    --color3:#52B788;
    --color4:#40916C;
    --color5:#2D6A4F;
    --color6:#1B4332;
    --color7:#081C15;

}
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    

}


body{
    width: 100%;
    background: linear-gradient(25deg, var(--color3) 0%, var(--color5) 100%);
}

.container
{
    background: linear-gradient(80deg, var(--color3) 0%, var(--color5) 100%);
}

.navbar{
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    text-wrap: nowrap;
    width: 80%;
    margin: auto;
}
.complogo{
    width: 80px;;
    height: auto;
    padding: 5px;
    -webkit-filter: drop-shadow(0px 0px .5px #000000);
    filter: drop-shadow(0x 0px .5px #000000);
}
.navmenu ul{
    display: flex;
    margin-left: 10%;
}
.navmenu li{
    list-style: none;
    display: inline;
    margin: 5px 20px;
    padding: 5px 10px;
    font-weight: bold;
    color: var(--color1);
}
.navmenu li a{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
.menu:hover{
    background-color:var(--color6);
    border-radius: 5px;
}
.menu:active{
    background-color: var(--color1);
    color: var(--color6);

}

.btn{
    position: absolute;
    top: 16px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.nbar{
    height: 5px;
    width: 80%;
    background-color: var(--color1);
    display: block;
    border-radius: 3px;

}
@media (max-width:960px) {
    .btn{
        display: none;
    }
    .navmenu ul{
        margin-left: 0;
    }
    .navbar{
        flex-direction: column;
    }
}

@media (max-width:740px) {
    .btn{
        display: flex;
    }
    .navmenu{
        display: none;
        width:100%;    
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navmenu ul{
        flex-direction: column;
        width: 100%;
    }
    .navmenu ul li{
        text-align: center;
    }
    .navmenu.active{
        display: flex;
    }
}


.discont{
    background-color: var(--color1);
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    overflow-x: scroll;
    scrollbar-color: var(--color3) var(--color4);
    scrollbar-width: thin;

}

.discont h3{
    font-weight: 800;
    font-size: 1.5rem;
    color:var(--color6);
    font-variant: small-caps;
}

.disinnercont{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.itemcont{
    background-color:var(--color3);
    height: 310px;
    width: 260px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*transition: .5s ease-in-out;*/

}


.firaim1{
    animation: zoomanime 5s linear 0s infinite;
}
.firaim2{
    animation: zoomanime 5s linear 1s infinite;
}
.firaim3{
    animation: zoomanime 5s linear 2s infinite;
}
.firaim4{
    animation: zoomanime 5s linear 3s infinite;
}
.firaim5{
    animation: zoomanime 5s linear 4s infinite;
}



/*
.itemcont:hover{
    transform: scale(1.25,1.25);
    transition: .5s ease-in-out;
    margin: 0 25px;
}
*/
@keyframes zoomanime {
    0%,5% {transform: scale(1,1);
        margin: 10px }

  25% {
    transform: scale(1.25,1.25);
    margin: 0px 25px;  }

  35%,40% {
    transform: scale(1,1);
    margin: 10px; 
  }
  100%{
    transform: scale(1,1);
    margin: 10px; 
  }

    
}


.concont{

    height: 100%;
    width: 230px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 5px; 

}
.protectimg{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logocont{
    height: 90px;
    width: 150px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.discont2{
    width: 90%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: var(--color3) var(--color4);
    scrollbar-width: thin;
}

.disinnerrow1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.itemcont2{
    background-color:var(--color1);
    height: 300px;
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.footcontainer
{
    background: linear-gradient(80deg, var(--color3) 0%, var(--color5) 100%);
}

.footbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    overflow: auto
}
.complogofoot{
    width: 80px;;
    height: auto;
    padding: 5px;
    -webkit-filter: drop-shadow(0px 0px .5px #000000);
    filter: drop-shadow(0x 0px .5px #000000);
}
.footmenu ul{
    display: flex;
    text-wrap: nowrap;

}
.footmenu ul li{
    list-style: none;
    display: inline;
    margin: 10px auto ;
    padding: 5px 9px;
    font-weight: bold;
    color: var(--color1);

}
.footmenu ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}
.copywrite{
    display: flex;
    position: absolute;
    right:5%;
    color: var(--color1);
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0px auto;
}
.footmenu ul li:hover{
    background-color: var(--color2);
    border-radius: 5px;
}

@media (max-width:850px) {
    .footbar{
        flex-direction:column-reverse;
    }
}

@media (min-width:1550px) {
    .discont,.discont2{
        overflow: hidden;
    }
    
}

.itemcont:hover{
    opacity: 0.9;
    cursor: pointer;
}


.itemcont2:hover{
    opacity: 0.9;
    cursor: pointer;
}



.imgcont{
    display: none;   
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color:rgba(8, 28, 21,.6);
    backdrop-filter:blur(10px);
    overflow: auto;

}

.imgincont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.imgpre{
    margin: 5% auto;
    display:block;
    width: 100vmin;
    align-items: center;
    animation: zoomanim .5s ease-in-out;
    border-radius: 10px;

}

@keyframes zoomanim {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
    
}

.cbutton{
    position: absolute;
    top: 5%;
    right: 25%;
    color: var(--color1);
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 5;
}
